
.contain {
    width: 60vw;
    padding: 20px;
    display: block;
    margin-bottom: 80px;
    background-color: #F5AA7C;
    /* outline: 4px solid #967D6E; */
    border: 4px solid #967D6E;
    border-radius: 4px;
}
.line {
    text-align: right;
}
.info {
    margin-top: 40px;
}
.row {
    margin-top: 20px;
}
.btn-del {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #474747;
    color: white;
}

.btn-edit {
    margin-left: 20px;
    color: white;
    background-color: #C27749;
}

#profilePic{
    height: 150px;
    width: 150px;
}

